<header class="navbar navbar-inverse bg-primary navbar-toggleable-xl">
    <nav class="">
        <%= link_to "Foodie", root_path, id: "logo" %>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item "><%= link_to "Home",   root_path %></li>
            <li class="nav-item "><%= link_to "Help",   help_path %></li>
            <li class="nav-item "><%= link_to "Log in", '#' %></li>
        </ul>
    </nav>
</header>