<header class="navbar navbar-toggleable-md navbar-light bg-primary">
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav class="container navbar-collapse">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item"><%= link_to "Home",   root_path %></li>
            <li class="nav-item"><%= link_to "Help",   help_path %></li>
            <li class="nav-item"><%= link_to "Log in", '#' %></li>
        </ul>
    </nav>
</header>